@font-face {
    font-family: 'vazir';
    src: url('../../vendor/vazir-fonts/Vazir.eot');
    src: url('../../vendor/vazir-fonts/Vazir.eot?#iefix') format('embedded-opentype'), url('../../vendor/vazir-fonts/Vazir.woff') format('woff'), url('../../vendor/vazir-fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: vazir;
}

.navbar-inverse {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
}

.navbar-brand {
    color: #4285f4!important;
}

.navbar-nav>li>a {
    padding: 8px 15px 8px 15px;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2196f3;
    border-radius: 10px;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #6a6a6a;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
    color: #6a6a6a;
}

#myNavbar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.logo {
    width: 130px;
    padding: 10px 10px 10px 0;
    float: left;
}

.hr {
    border-bottom: 1px solid #c7c7c7;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #2196f3;
}

.navbar-inverse .navbar-toggle {
    border-color: #2196f3;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: #c7c7c7;
}

.panel {
    width: 100%;
    height: auto;
    min-height: 700px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
}

.ribbon {
    height: 40px;
    width: 450px;
    background-color: #01b4ed;
    padding: 10px 90px 0 0;
    color: #fff;
    font-weight: bold;
    margin-right: -70px;
    margin-bottom: 40px;
}

.input-width {
    width: 365px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    background: #e2e2e2;
    border-style: solid;
    box-shadow: 0px 0px 0px 0px #01b4ed;
    transition: 0.3s;
    border-radius: 5px;
}

.custom-input:focus {
    box-shadow: 0px 0px 2px 0px #01b4ed;
    transition: 0.3s;
}

.price {
    height: 100px;
    background-color: #fff;
}

.price .title {
    height: 35px;
    text-align: center;
    padding-top: 7px;
}

.price .title i {
    font-size: 22px;
    vertical-align: text-bottom;
    padding-left: 5px;
}

.text-group {
    margin-bottom: 40px;
}

.select-group {
    margin-bottom: 40px;
}

.price .content {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

.price .description {
    padding: 5px;
}

.custom-button {
    background: #01b4ed;
    border-style: solid;
    padding: 10px 30px 10px 30px;
    color: #fff;
    display: inline-block;
    transition: 0.3s;
}

.custom-button:hover {
    background: #00a4d6;
    transition: 0.3s;
}

.custom-button:focus {
    background: #00a4d6;
    box-shadow: 0px 0px 1px 1px #444;
    transition: 0.1s;
}

.pool-card {
    background-color: #fff;
}

.pool-card .image {
    height: 200px;
    background-color: #6a6a6a;
    padding: 0!important;
}

.pool-card .image img {
    position: absolute;
    top: 0;
    z-index: 5;
}

.pool-card .detials {
    height: 200px;
    background-color: #ffffff;
    padding: 10px;
}

.pool-card .img-responsive {
    height: 100%;
}

.pool-card .buy {
    height: 100%;
    position: relative;
    z-index: 55555;
    background: black;
    background: linear-gradient(hsla(0, 100%, 50%, 0), hsl(0, 0%, 2%));
    opacity: 0;
    transition: 0.3s;
}

.pool-card:hover .buy {
    opacity: 0.8;
    transition: 0.3s;
}

.pool-card .buy-button {
    position: absolute;
    top: 50px;
    ;
    z-index: 555555;
    width: 100%;
    text-align: center;
}

.pool-card .buy-button {
    opacity: 0;
    transition: 0.3s;
}

.pool-card .buy-button {
    opacity: 0;
    transition: 0.3s;
}

.pool-card:hover .buy-button {
    opacity: 1;
    transition: 0.3s;
}

.pool-card .buy-button a {
    text-decoration: none;
}

.pool-card .buy-button a i {
    font-size: 70px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 0 25px;
    transition: 0.3s;
}

.pool-card .buy-button a p {
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    transition: 0.3s;
}

.pool-card .buy-button a:hover i {
    color: #01b4ed;
    border: 2px solid #01b4ed;
    transition: 0.3s;
}

.pool-card .buy-button a:hover p {
    color: #01b4ed;
    transition: 0.3s;
}

.pool-card .detials .title i {
    font-size: 40px;
    padding-left: 10px;
    color: #01b4ed;
}

.pool-card .detials .title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

.pool-card .detials .address i {
    font-size: 30px;
    padding-left: 10px;
    color: #01b4ed;
    vertical-align: middle;
}

.pool-card .detials .address {
    font-size: 14px;
}
